@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');
*{
    font-family: 'Poppins',cursive;
}
body{
    color: azure;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.greetings{
    font-size: 6rem;
    font-weight: 900;
}
.greetings > span{
    animation: glow 2.5s ease-in-out infinite;
}
@keyframes glow{
    0%, 100%{
        color: #fff;
        text-shadow: 0 0 12px #ff03a2, 0 0 50px #ff03a2, 0 0 100px #39c6d6;
    }
    10%, 90%{
        color: #111;
        text-shadow: none;
    }
}
.greetings > span:nth-child(1){  /* H */
    animation-delay: .2s ;
}
.greetings > span:nth-child(2){ /* A */
    animation-delay: .4s ;
}
.greetings > span:nth-child(3){ /* P */
    animation-delay: .6s;
}
.greetings > span:nth-child(4){ /* P */
    animation-delay: .8s;
}
.greetings > span:nth-child(5){ /* Y */
    animation-delay: 1.0s;
}

.greetings2{
    font-size: 6rem;
    font-weight: 900;
}
.greetings2 > span{
    animation: glow 2.5s ease-in-out infinite;
}
@keyframes glow{
    0%, 100%{
        color: #fff;
        text-shadow: 0 0 12px #ff03a2, 0 0 50px #ff03a2, 0 0 100px #39c6d6;
    }
    10%, 90%{
        color: #111;
        text-shadow: none;
    }
}
.greetings2 > span:nth-child(1){ /* V */
    animation-delay: 1.2s ;
}
.greetings2 > span:nth-child(2){ /* A */
    animation-delay: 1.4s ;
}
.greetings2 > span:nth-child(3){ /* L */
    animation-delay: 1.6s;
}
.greetings2 > span:nth-child(4){ /* E */
    animation-delay: 1.8s;
}
.greetings2 > span:nth-child(5){ /* N */
    animation-delay: 2.0s;
}
.greetings2 > span:nth-child(6){ /* T */
    animation-delay: 2.2s;
}
.greetings2 > span:nth-child(7){ /* I */
    animation-delay: 2.4s;
}
.greetings2 > span:nth-child(8){ /* N */
    animation-delay: 2.6s;
}
.greetings2 > span:nth-child(9){ /* E */
    animation-delay: 2.8s;
}
.greetings2 > span:nth-child(10){ /* ' */
    animation-delay: 3.0s;
}
.greetings2 > span:nth-child(11){ /* S */
    animation-delay: 3.2s;
}

.description{
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.button a{
    text-decoration: none;
    font-size: 1rem;
    color: #111;
}

@media screen and (max-width:574px){
    .greetings{
        display: block;
        font-size: 3rem;
        font-weight: 500;
        text-align: center;
    }
    .greetings2{
        display: block;
        font-size: 3rem;
        font-weight: 500;
        text-align: center;
    }
    .description{
        font-size: 1rem;
    }
    
    .button a{
        font-size: .5rem;
    }
}
